@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@200&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/******navbar*******/

nav a:hover {
    -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/*******home******/

.home {
    background-image: url(../imagenes/home.svg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'magesta' , sans-serif;
    font-size: 110px;
    margin-top: 100px;
}

h3 {
    font-family: 'magesta' , sans-serif;
    font-size: 50px;
}

.social-container {
    align-self: right;
    font-size: 24px;
}

.social-icons {
    padding: 2px;
    list-style:none;
}

.social-icons li {
    display:inline-block;
    margin:.10em;
    position:relative;
    font-size: 1em;
}

.social-icons i {
    color:rgba(233, 230, 230, 0.74);
    position:absolute;
    top:13px;
    left:13px;
    transition:all 265ms ease-out
}

.social-icons a {
    display:inline-block
}

.social-icons a:before {
    transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    content:" ";
    width:48px;
    height:48px;
    border-radius:100%;
    display:block;
    background:linear-gradient(45deg,#dbd0d523,#e7dfdf65);
    transition:all 265ms ease-out;
}

.social-icons a:hover:before {
    transform:scale(0);
    transition:all 265ms ease-in;
}

.social-icons a:hover i {
    transform:scale(2.2);
    -ms-transform:scale(2.2);
    -webkit-transform:scale(2.2);
    color: #1d1d1d;
    background:-webkit-linear-gradient(45deg,#1d1d1d,#271f1f);-webkit-background-clip:text;-webkit-text-fill-color:transparent;transition:all 265ms ease-in;
}


/******sobremi******/


.sobremi {
    background-image: url(../imagenes/yoo.svg);
    background-size: cover;
    height: 130vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
}

h2 {
    font-family: 'magesta';
    font-size: 65px;
    margin: 130px 0px 0px 135px;
    padding: 20px 0px;
}

p {
    font-size: 22px;
    font-family: 'Montserrat' , Helvetica, sans-serif;
    margin: 0px 135px;
    width: 50%;
    line-height: 45px;
}

.habilidades {
    background-color: #1d1d1d;
    color: #FFF4EB;
    width: 100%;
    height: 150vh;
    display: flex;
    padding: 30px 0px;
    flex-direction: column;
}

.habilidades-box li {
    font-size: 22px;
}

.habilidades-box {
    background-color: #212121;
    display: flex;
    margin: 50px 150px 50px 150px;
    padding: 50px 50px 50px 50px;
    gap: 20rem;
}

.buttons {
    display: flex;
    margin:  0px 150px;
    padding: 0px 50px;
    gap: 20rem;
}

.buttons a{
    font-size: 22px;
}

/******footer******/

/*footer {
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    margin: 150px 0px;
    padding: 50px 0px;
}

footer .left {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 30px;
    padding: 0px 200px;
}

footer .left a {
    text-decoration: none;
    color: white;
}

footer .right {
    display: flex;
    flex-direction: column;
}

footer .right p {
    font-size: 18px;
    line-height: 30px;
}/*

/*********curriculum**********/

.curriculum {
    background-image: url(../imagenes/sobremi.svg);
    background-size: cover;
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
}

/*******proyectos*********/

.grid-container {
    background-image: url(../imagenes/sobremi.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

.grid-container div {
    display: grid;
}

.item1 {
    font-family: 'magesta' , Helvetica, sans-serif;
    font-size: 65px;
    justify-content: left;
    text-align: center;
    margin: 130px 0px 0px 135px;
    padding: 20px 0px;
}

.item2 {
    font-family: 'montserrat' , Helvetica, sans-serif;
    font-size: 55px;
    text-align: center;
    justify-content: right;
    margin: 130px 135px 0px 0px;
    padding: 20px 0px;
}

.item3 {
    background-image: url(../imagenes/calm.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: 500px;
    border-radius: 2.5rem;
    margin: 0px 25px 0px 135px;
}

.item4 {
    background-image: url(../imagenes/apptadura.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 395px;
    width: 500px;
    border-radius: 2.5rem;
    margin: 0px 135px 0px 45px;
}

.item5 {
    background-image: url(../imagenes/calm.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: 500px;
    border-radius: 2.5rem;
    margin: 0px 25px 0px 135px;
    padding: 20px 0px;
}

.item6 {
    background-image: url(../imagenes/apptadura.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 395px;
    width: 500px;
    border-radius: 2.5rem;
    margin: 0px 135px 0px 45px;
    padding: 20px 0px;
}

/*********contacto*******/

.contacto_cartita {
    background-image: url(../imagenes/sobremi.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 180vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto_cartita h2 {
    font-size: 65px;
    margin: 0px 0px 20px 0px;
}

.contacto_cartita form {
    background-color: #1d1d1d;
    width: 60vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 15px;
}

.contacto_cartita input ,
.contacto_cartita textarea {
    background-color: #171717;
    color: white;
    border-style: hidden;
    border-radius: .5rem;
    padding: 10px;
}

.contacto_cartita input {
    height: 40px;
}

.contacto_cartita button {
    background: transparent;
    color: white;
    font-size: 1rem;
    height: 40px;
    border: 2px solid #171717;
    border-radius: .5rem;
    transition: all 1s ease;
    cursor: pointer;
    box-shadow: .5rem .5rem 1rem #161616 ,
                -.5rem -.5rem 1rem #1f1f1f
}

.contacto_cartita button:hover {
    box-shadow: .5rem .5rem 1rem #1f1f1f ,
                -.5rem -.5rem 1rem #161616
}

.contacto_cartita button:active {
    box-shadow: inset .2rem .2rem .5rem #1f1f1f ,
                inset -.2rem -.2rem 5rem #161616
}

.contacto_cartita h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: italic;
    margin-top: 100px;
}

/******webkit*****/

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(5px);
              filter: blur(5px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(5px);
              filter: blur(5px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  

@media screen and (max-width:768px) {
    
    /*****menu*****/

    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

    /*****home*****/

    h1 {
        font-size: 6vh;
        text-align: center;
    }
    
    h3 {
        font-size: 3.5vh;
    }

    /*****sobremí*****/

    .sobremi {
        height: 100vh;
    }

    h2 {
        font-size: 5vh;
        padding: 80px 0px 35px 0px;
    }
    
    p {
        font-size: 2vh;
        width: 50%;
    }

    .habilidades {
        padding: 0px;
    }
    
    .habilidades-box li {
        font-size: 18px;
    }
    
    .habilidades-box {
        margin: 25px 75px 25px 75px;
        padding: 25px;
        gap: 10rem;
    }
    
    .buttons {
        margin:  0px 75px;
        padding: 0px 25px;
        gap: 10rem;
    }
    
    .buttons a{
        font-size: 18px;
    }

    /****proyectos****/

    .grid-container {
        height: 20vh;
        width: 70vw;
    }
    
    .item1 {
        margin: 100px 0px 0px 65px;
        padding: 10px 0px;
    }
    
    .item2 {
        margin: 100px 65px 0px 0px;
        padding: 10px 0px;
    }
    
    .item3 {
        height: 200px;
        width: 250px;
        margin: 0px 12px 0px 60px;
    }
    
    .item4 {
        height: 200px;
        width: 250px;
        margin: 0px 60px 0px 12px;
    }
    
    .item5 {
        height: 200px;
        width: 250px;
        margin: 0px 12px 0px 60px;
    }
    
    .item6 {
        height: 200px;
        width: 250px;
        margin: 0px 60px 0px 12px;
    }

    /****contacto****/

    .contacto_cartita {
        height: 20vh;
    }
    
    .contacto_cartita form {
        padding: 25px;
        gap: 7px;
    }
    
    .contacto_cartita input ,
    .contacto_cartita textarea {
        padding: 5px;
    }
    
    .contacto_cartita input {
        height: 20px;
    }
    
    .contacto_cartita button {
        font-size: .5rem;
        height: 20px;
        border: 1px solid #171717;
    }
    
    .contacto_cartita h3 {
        font-size: 25px;
        margin-top: 50px;
    }
}

@media screen and (max-width:480px) {

    /*****menu*****/

    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }

    /*****home*****/


    h1 {
        font-size: 40px;
        text-align: center;
    }
    
    h3 {
        font-size: 18px;
    }

    /*****sobremí*****/

    .sobremi {
        height: 100%;
    }

    h2 {
        font-size: 28px;
        padding: 5px 0px 5px 0px;
    }
    
    p {
        font-size: 16px;
        width: 65%;
    }

    .habilidades {
        padding: 0px;
    }
    
    .habilidades-box li {
        font-size: 16px;
    }
    
    .habilidades-box {
        margin: 14px 40px 14px 40px;
        padding: 14px;
        gap: 5rem;
    }
    
    .buttons {
        margin:  0px 40px;
        padding: 0px 14px;
        gap: 5rem;
    }
    
    .buttons a{
        font-size: 16px;
    }

    /****proyectos****/

    .grid-container {
        height: 10vh;
        width: 35vw;
    }
    
    .item1 {
        margin: 50px 0px 0px 35px;
        padding: 5px 0px;
    }
    
    .item2 {
        margin: 50px 35px 0px 0px;
        padding: 50px 0px;
    }
    
    .item3 {
        height: 100px;
        width: 125px;
        margin: 0px 6px 0px 30px;
    }
    
    .item4 {
        height: 100px;
        width: 125px;
        margin: 0px 30px 0px 6px;
    }
    
    .item5 {
        height: 100px;
        width: 125px;
        margin: 0px 6px 0px 30px;
    }
    
    .item6 {
        height: 100px;
        width: 125px;
        margin: 0px 30px 0px 6px;
    }

    /****contacto****/

    .contacto_cartita {
        height: 10vh;
    }
    
    .contacto_cartita form {
        padding: 13px;
        gap: 4px;
    }
    
    .contacto_cartita input ,
    .contacto_cartita textarea {
        padding: 2px;
    }
    
    .contacto_cartita input {
        height: 10px;
    }
    
    .contacto_cartita button {
        font-size: .5rem;
        height: 10px;
        border: 1px solid #171717;
    }
    
    .contacto_cartita h3 {
        font-size: 18px;
        margin-top: 25px;
    }
}